node-red/5am1_2020-08-31.json.old
[{"id":"41682afd.cfa0e4","type":"tab","label":"5am1","disabled":false,"info":""},{"id":"1d69c57e.48199b","type":"mqtt in","z":"41682afd.cfa0e4","name":"kepserver - \"5am1\"","topic":"5am1","qos":"0","datatype":"json","broker":"df061a1c.bc3198","x":110,"y":40,"wires":[["43ec434a.4539dc","d1350594.8ac768"]]},{"id":"43ec434a.4539dc","type":"debug","z":"41682afd.cfa0e4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":80,"wires":[]},{"id":"be144923.a67198","type":"jquerify","z":"41682afd.cfa0e4","name":"Parsing param","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[1] == \"mesin_1\"){\n      if(!(tag[val.id.split(\".\")[2]])){\n        tag[val.id.split(\".\")[2]] = {}  \n      }\n      tag[val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n    } else if(val.id.split(\".\")[2] == \"dice_5am1\"){\n        msg.dies = val.v\n    }\n});\nmsg.timestamp = timestamp\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n// msg.complete = true\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["aae334a9.317c98","39e37b7c.403064"]]},{"id":"aae334a9.317c98","type":"debug","z":"41682afd.cfa0e4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":160,"wires":[]},{"id":"39e37b7c.403064","type":"jquerify","z":"41682afd.cfa0e4","name":"dies_5am1","func":"dies = msg.dies\nmsg.topic = \"SELECT * FROM dies WHERE code=\"+dies\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["cc83f4af.4103e8"]]},{"id":"cc83f4af.4103e8","type":"mysql","z":"41682afd.cfa0e4","mydb":"82d84e5d.ced14","name":"get db Dies","x":330,"y":240,"wires":[["c2e9e5c8.63da58","b29e1a38.9b5d48","a13d1307.5f0fb","9c5414b1.91e618","ef7ce9a4.3c6418","45f8f157.2b6fb"]]},{"id":"c2e9e5c8.63da58","type":"debug","z":"41682afd.cfa0e4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":200,"wires":[]},{"id":"b29e1a38.9b5d48","type":"jquerify","z":"41682afd.cfa0e4","name":"mesin_1.motor_1","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[0];\nstandard_vibration = msg.payload[0].vibration_alarm\nstandard_temperature = msg.payload[0].temperature_alarm\nif(keytag == \"motor_1\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am11 (timestamp,\"+key.join()+\", standard_vibration, standard_temperature) VALUES ('\"+timestamp+\"',\"+value.join()+\",\"+standard_vibration+\",\"+standard_temperature+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["d323c7a8.3fbcf8","a8c2ca3a.c75b68"]]},{"id":"d323c7a8.3fbcf8","type":"mysql","z":"41682afd.cfa0e4","mydb":"82d84e5d.ced14","name":"store","x":810,"y":240,"wires":[["63cb2c7d.78e204"]]},{"id":"a8c2ca3a.c75b68","type":"debug","z":"41682afd.cfa0e4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":200,"wires":[]},{"id":"a13d1307.5f0fb","type":"jquerify","z":"41682afd.cfa0e4","name":"mesin_1.motor_2","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[1];\nstandard_vibration = msg.payload[0].vibration_alarm\nstandard_temperature = msg.payload[0].temperature_alarm\nif(keytag == \"motor_2\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am12 (timestamp,\"+key.join()+\", standard_vibration, standard_temperature) VALUES ('\"+timestamp+\"',\"+value.join()+\",\"+standard_vibration+\",\"+standard_temperature+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["d323c7a8.3fbcf8"]]},{"id":"9c5414b1.91e618","type":"jquerify","z":"41682afd.cfa0e4","name":"mesin_1.motor_3","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[2];\nstandard_vibration = msg.payload[0].vibration_alarm\nstandard_temperature = msg.payload[0].temperature_alarm\nif(keytag == \"motor_3\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am13 (timestamp,\"+key.join()+\", standard_vibration, standard_temperature) VALUES ('\"+timestamp+\"',\"+value.join()+\",\"+standard_vibration+\",\"+standard_temperature+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["d323c7a8.3fbcf8"]]},{"id":"ef7ce9a4.3c6418","type":"jquerify","z":"41682afd.cfa0e4","name":"mesin_1.motor_4","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[3];\nstandard_vibration = msg.payload[0].vibration_alarm\nstandard_temperature = msg.payload[0].temperature_alarm\nif(keytag == \"motor_4\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am14 (timestamp,\"+key.join()+\", standard_vibration, standard_temperature) VALUES ('\"+timestamp+\"',\"+value.join()+\",\"+standard_vibration+\",\"+standard_temperature+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":360,"wires":[["d323c7a8.3fbcf8"]]},{"id":"63cb2c7d.78e204","type":"debug","z":"41682afd.cfa0e4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":280,"wires":[]},{"id":"456f551a.115e1c","type":"websocket out","z":"41682afd.cfa0e4","name":"","server":"54cf17ec.aefd68","client":"","x":340,"y":320,"wires":[]},{"id":"45f8f157.2b6fb","type":"jquerify","z":"41682afd.cfa0e4","name":"ws/mesin_1","func":"dies = msg.payload[0]\n\nmsg.payload = msg.tag\nmsg.payload.dies = dies\nmsg.payload.timestamp = msg.timestamp\n// msg.complete = true\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["456f551a.115e1c"]]},{"id":"d1350594.8ac768","type":"jquerify","z":"41682afd.cfa0e4","name":"Parsing crank_angle","func":"$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"crank_angle\"){\n        msg.crank_angle = val.v\n    }\n});\n\nreturn msg","outputs":1,"noerr":0,"x":360,"y":40,"wires":[["ab9d9d29.b708b","30f27c4d.61c7c4"]]},{"id":"ab9d9d29.b708b","type":"switch","z":"41682afd.cfa0e4","name":"90<crank_angle<95","property":"crank_angle","propertyType":"msg","rules":[{"t":"btwn","v":"90","vt":"num","v2":"95","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":80,"wires":[["e3479202.73dba"]]},{"id":"e3479202.73dba","type":"rbe","z":"41682afd.cfa0e4","name":"timestamp deadband 500ms","func":"deadband","gap":"500","start":"","inout":"in","property":"payload.timestamp","x":380,"y":120,"wires":[["be144923.a67198"]]},{"id":"30f27c4d.61c7c4","type":"debug","z":"41682afd.cfa0e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":40,"wires":[]},{"id":"df061a1c.bc3198","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"82d84e5d.ced14","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"symptom","tz":""},{"id":"54cf17ec.aefd68","type":"websocket-listener","z":"","path":"/ws/5am1","wholemsg":"false"}]