node-red/5am_2020-10-01.json
[{"id":"9dbf6805.6fe76","type":"tab","label":"5am","disabled":false,"info":""},{"id":"dafe48e6.2d9de","type":"mqtt in","z":"9dbf6805.6fe76","name":"kepserver - \"5am1\"","topic":"5am1","qos":"0","datatype":"json","broker":"4d302d59.38921c","x":110,"y":40,"wires":[["9e5ffe0a.5445f","4313fdc9.17988c"]]},{"id":"9e5ffe0a.5445f","type":"debug","z":"9dbf6805.6fe76","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":80,"wires":[]},{"id":"4feaa255.feabcc","type":"jquerify","z":"9dbf6805.6fe76","name":"Parsing param","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[1] == \"mesin_1\"){\n      if(!(tag[val.id.split(\".\")[2]])){\n        tag[val.id.split(\".\")[2]] = {}  \n      }\n      tag[val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n    }\n});\nmsg.timestamp = timestamp\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n// msg.complete = true\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["cba244f2.b127d8","43990a11.ea569c"]]},{"id":"cba244f2.b127d8","type":"debug","z":"9dbf6805.6fe76","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":160,"wires":[]},{"id":"43990a11.ea569c","type":"jquerify","z":"9dbf6805.6fe76","name":"dies_5am1","func":"dies = msg.dies\nmsg.topic = \"SELECT * FROM dies WHERE code=\"+dies\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["2c9eceb.0a68532"]]},{"id":"2c9eceb.0a68532","type":"mysql","z":"9dbf6805.6fe76","mydb":"aa44935e.d4905","name":"get db Dies","x":330,"y":240,"wires":[["b3fe01bf.792758","65cc971b.880f28","b821ec80.4c71e"]]},{"id":"b3fe01bf.792758","type":"debug","z":"9dbf6805.6fe76","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":200,"wires":[]},{"id":"d3fbeddb.481c28","type":"mysql","z":"9dbf6805.6fe76","mydb":"aa44935e.d4905","name":"store","x":770,"y":240,"wires":[["3f39f149.f8af5e"]]},{"id":"950294d3.c25458","type":"debug","z":"9dbf6805.6fe76","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":200,"wires":[]},{"id":"3f39f149.f8af5e","type":"debug","z":"9dbf6805.6fe76","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":280,"wires":[]},{"id":"3a5a4054.6ed55","type":"websocket out","z":"9dbf6805.6fe76","name":"","server":"16527834.f1d63","client":"","x":320,"y":320,"wires":[]},{"id":"65cc971b.880f28","type":"jquerify","z":"9dbf6805.6fe76","name":"ws/mesin_1","func":"dies = msg.payload[0]\n\nmsg.payload = msg.tag\nmsg.payload.timestamp = msg.timestamp\nif(dies){\n    msg.payload.dies = dies\n} else {\n    msg.payload.dies = {}\n    msg.payload.dies.code = msg.dies\n    msg.payload.dies.vibration_warning = null\n    msg.payload.dies.vibration_alarm = null\n    msg.payload.dies.temperature_warning = null\n    msg.payload.dies.temperature_alarm = null\n}\n// msg.complete = true\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["3a5a4054.6ed55","771737ca.86cd58"]]},{"id":"4313fdc9.17988c","type":"jquerify","z":"9dbf6805.6fe76","name":"Parsing crank_angle","func":"$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"crank_angle\"){\n        msg.crank_angle = val.v\n    } else if(val.id.split(\".\")[2] == \"dies_5am1\"){\n        msg.dies = val.v\n    }\n});\n\nreturn msg","outputs":1,"noerr":0,"x":360,"y":40,"wires":[["590eaf65.074ca8","d7aba24f.8eb72"]]},{"id":"590eaf65.074ca8","type":"switch","z":"9dbf6805.6fe76","name":"5<crank_angle<150","property":"crank_angle","propertyType":"msg","rules":[{"t":"btwn","v":"5","vt":"num","v2":"150","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":80,"wires":[["fbcc6f0d.18dcc","62ceab4b.887464"]]},{"id":"fbcc6f0d.18dcc","type":"rbe","z":"9dbf6805.6fe76","name":"timestamp deadband 500ms","func":"deadband","gap":"500","start":"","inout":"in","property":"payload.timestamp","x":380,"y":120,"wires":[["4feaa255.feabcc","ac15a40.9197b6"]]},{"id":"d7aba24f.8eb72","type":"debug","z":"9dbf6805.6fe76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":40,"wires":[]},{"id":"2297dbdc.1a4094","type":"debug","z":"9dbf6805.6fe76","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":420,"wires":[]},{"id":"62a9a4bb.d0442c","type":"jquerify","z":"9dbf6805.6fe76","name":"Parsing param","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[1] == \"mesin_2\"){\n      if(!(tag[val.id.split(\".\")[2]])){\n        tag[val.id.split(\".\")[2]] = {}  \n      }\n      tag[val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n    }\n});\nmsg.timestamp = timestamp\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n// msg.complete = true\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":500,"wires":[["104e9ef7.0b49f9","bf112a7.f97cdd8"]]},{"id":"104e9ef7.0b49f9","type":"debug","z":"9dbf6805.6fe76","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":500,"wires":[]},{"id":"bf112a7.f97cdd8","type":"jquerify","z":"9dbf6805.6fe76","name":"dies_5am2","func":"dies = msg.dies\nmsg.topic = \"SELECT * FROM dies WHERE code=\"+dies\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["8439e690.772b48"]]},{"id":"8439e690.772b48","type":"mysql","z":"9dbf6805.6fe76","mydb":"aa44935e.d4905","name":"get db Dies","x":330,"y":580,"wires":[["26064b29.1d9434","5a49faa5.a480e4","b4535370.0d98e"]]},{"id":"26064b29.1d9434","type":"debug","z":"9dbf6805.6fe76","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":540,"wires":[]},{"id":"fe013f02.c6c1c","type":"mysql","z":"9dbf6805.6fe76","mydb":"aa44935e.d4905","name":"store","x":750,"y":580,"wires":[["a66d120e.ba8648"]]},{"id":"daaeef0b.cd89a","type":"debug","z":"9dbf6805.6fe76","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":540,"wires":[]},{"id":"a66d120e.ba8648","type":"debug","z":"9dbf6805.6fe76","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":620,"wires":[]},{"id":"f82333bc.0709b8","type":"websocket out","z":"9dbf6805.6fe76","name":"","server":"5bc1473c.1267e8","client":"","x":320,"y":660,"wires":[]},{"id":"5a49faa5.a480e4","type":"jquerify","z":"9dbf6805.6fe76","name":"ws/mesin_2","func":"dies = msg.payload[0]\n\nmsg.payload = msg.tag\nmsg.payload.timestamp = msg.timestamp\nif(dies){\n    msg.payload.dies = dies\n} else {\n    msg.payload.dies = {}\n    msg.payload.dies.code = msg.dies\n    msg.payload.dies.vibration_warning = null\n    msg.payload.dies.vibration_alarm = null\n    msg.payload.dies.temperature_warning = null\n    msg.payload.dies.temperature_alarm = null\n}\n// msg.complete = true\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["f82333bc.0709b8","6062b70e.3ff7d8"]]},{"id":"419848a6.1ca2d8","type":"jquerify","z":"9dbf6805.6fe76","name":"Parsing crank_angle","func":"$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"crank_angle\"){\n        msg.crank_angle = val.v\n    } else if(val.id.split(\".\")[2] == \"dies_5am2\"){\n        msg.dies = val.v\n    }\n});\n\nreturn msg","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["167f301d.bf50b8","53ec0f8.910a17"]]},{"id":"167f301d.bf50b8","type":"switch","z":"9dbf6805.6fe76","name":"5<crank_angle<150","property":"crank_angle","propertyType":"msg","rules":[{"t":"btwn","v":"5","vt":"num","v2":"150","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":420,"wires":[["a25192a.c73967","83545d25.14b3f"]]},{"id":"a25192a.c73967","type":"rbe","z":"9dbf6805.6fe76","name":"timestamp deadband 500ms","func":"deadband","gap":"500","start":"","inout":"in","property":"payload.timestamp","x":380,"y":460,"wires":[["62a9a4bb.d0442c","d6d0b265.9b5be"]]},{"id":"53ec0f8.910a17","type":"debug","z":"9dbf6805.6fe76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":380,"wires":[]},{"id":"6062b70e.3ff7d8","type":"debug","z":"9dbf6805.6fe76","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":620,"wires":[]},{"id":"e07d281f.42a41","type":"mqtt in","z":"9dbf6805.6fe76","name":"kepserver - \"5am2\"","topic":"5am2","qos":"0","datatype":"json","broker":"4d302d59.38921c","x":110,"y":380,"wires":[["2297dbdc.1a4094","419848a6.1ca2d8"]]},{"id":"83545d25.14b3f","type":"debug","z":"9dbf6805.6fe76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":420,"wires":[]},{"id":"d6d0b265.9b5be","type":"debug","z":"9dbf6805.6fe76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":460,"wires":[]},{"id":"62ceab4b.887464","type":"debug","z":"9dbf6805.6fe76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":80,"wires":[]},{"id":"ac15a40.9197b6","type":"debug","z":"9dbf6805.6fe76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":120,"wires":[]},{"id":"b821ec80.4c71e","type":"jquerify","z":"9dbf6805.6fe76","name":"mesin_1 query insert","func":"timestamp = msg.timestamp;\nif(msg.payload[0]){\n    standard_vibration = msg.payload[0].vibration_alarm\n    standard_temperature = msg.payload[0].temperature_alarm\n} else {\n    standard_vibration = null\n    standard_temperature = null\n}\n// keytag = msg.keytag[0];\nmsg.topic = \"\"\n$(msg.keytag).each(function( i, val ) {\n    keytag = val\n    modul = \"5am1\"+val.split('_')[1]\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic += \"INSERT INTO \" + modul + \" (timestamp,\"+key.join()+\", standard_vibration, standard_temperature) VALUES ('\"+timestamp+\"',\"+value.join()+\",\"+standard_vibration+\",\"+standard_temperature+\");\"\n});\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["950294d3.c25458","d3fbeddb.481c28"]]},{"id":"771737ca.86cd58","type":"debug","z":"9dbf6805.6fe76","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":280,"wires":[]},{"id":"b4535370.0d98e","type":"jquerify","z":"9dbf6805.6fe76","name":"mesin_2 query insert","func":"timestamp = msg.timestamp;\nif(msg.payload[0]){\n    standard_vibration = msg.payload[0].vibration_alarm\n    standard_temperature = msg.payload[0].temperature_alarm\n} else {\n    standard_vibration = null\n    standard_temperature = null\n}\n// keytag = msg.keytag[0];\nmsg.topic = \"\"\n$(msg.keytag).each(function( i, val ) {\n    keytag = val\n    modul = \"5am2\"+val.split('_')[1]\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic += \"INSERT INTO \" + modul + \" (timestamp,\"+key.join()+\", standard_vibration, standard_temperature) VALUES ('\"+timestamp+\"',\"+value.join()+\",\"+standard_vibration+\",\"+standard_temperature+\");\"\n});\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":580,"wires":[["fe013f02.c6c1c","daaeef0b.cd89a"]]},{"id":"4d302d59.38921c","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aa44935e.d4905","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"symptom","tz":""},{"id":"16527834.f1d63","type":"websocket-listener","z":"","path":"/ws/5am1","wholemsg":"false"},{"id":"5bc1473c.1267e8","type":"websocket-listener","z":"","path":"/ws/5am2","wholemsg":"false"}]