node-red/flows (1).json
[{"id":"f5e13f7b.91277","type":"tab","label":"IntLog1Min","disabled":true,"info":""},{"id":"78bedbb.044e524","type":"tab","label":"Line 5A","disabled":true,"info":""},{"id":"41682afd.cfa0e4","type":"tab","label":"5am1","disabled":true,"info":""},{"id":"2d826a6a.995236","type":"tab","label":"Alarm","disabled":true,"info":""},{"id":"878d3cd5.e63b4","type":"tab","label":"CT Weld","disabled":false,"info":""},{"id":"2256082.ba521f8","type":"tab","label":"CT Motor","disabled":false,"info":""},{"id":"1d9c4b2e.5fa565","type":"tab","label":"CT KWH","disabled":false,"info":""},{"id":"df061a1c.bc3198","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d28a952a.1c51a8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"powermeter","tz":""},{"id":"82d84e5d.ced14","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"symptom","tz":""},{"id":"54cf17ec.aefd68","type":"websocket-listener","z":"","path":"/ws/5am1","wholemsg":"false"},{"id":"88812ace.447628","type":"websocket-client","z":"","path":"","tls":"","wholemsg":"false"},{"id":"cd7e07.a9f601f8","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/send","tls":"","wholemsg":"false"},{"id":"be8eff5c.562e","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/received","tls":"","wholemsg":"false"},{"id":"c0838175.0a50a","type":"websocket-listener","z":"","path":"/ws/5am2","wholemsg":"false"},{"id":"402c8165.172ed","type":"websocket-listener","z":"","path":"/ws/5am3","wholemsg":"false"},{"id":"4eae0d1d.5bd604","type":"websocket-listener","z":"","path":"/ws/5am4","wholemsg":"false"},{"id":"3bd12dfc.33adf2","type":"websocket-listener","z":"","path":"/ws/dice","wholemsg":"false"},{"id":"56679c05.49c634","type":"websocket-listener","z":"","path":"/ws/alarm_5aa1","wholemsg":"false"},{"id":"8c11315.f6997d","type":"websocket-listener","z":"","path":"/ws/motor_status","wholemsg":"false"},{"id":"a137af40.8d26d","type":"websocket-listener","z":"","path":"/ws/motor_sensor","wholemsg":"false"},{"id":"c9eee5fd.bfcfb8","type":"websocket-listener","z":"","path":"/ws/ct_sensor","wholemsg":"false"},{"id":"948c2523.c95968","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"scada_iot","tz":"GMT +7"},{"id":"3e4d0bee.75bee4","type":"websocket-listener","z":"","path":"/ws/motor_alarm","wholemsg":"false"},{"id":"48a40ac2.4d4f94","type":"websocket-listener","z":"","path":"/ws/ct_kwh","wholemsg":"false"},{"id":"a9fe51cc.bb8c9","type":"websocket-listener","z":"","path":"/ws/ct_sensor_g","wholemsg":"false"},{"id":"115bfb45.b622b5","type":"websocket-listener","z":"","path":"/ws/ct_motor_g","wholemsg":"false"},{"id":"f7f9e942.90ec48","type":"websocket-listener","z":"","path":"/ws/ct_sensor_alarm","wholemsg":"false"},{"id":"99839b02.09be38","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c72734e0.60f078","type":"ui_group","z":"","name":"Test","tab":"99839b02.09be38","disp":true,"width":"6","collapse":false},{"id":"92ed401e.4fbb2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"38c219bb.0a6906","type":"mqtt-broker","z":"","name":"Node-RED","broker":"localhost","port":"1883","clientid":"Node-RED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"114d2589.db8f6a","type":"websocket-listener","z":"","path":"/ws/ct_auto","wholemsg":"false"},{"id":"131a943f.aa58fc","type":"mqtt in","z":"f5e13f7b.91277","name":"kepserver","topic":"kepserver","qos":"1","datatype":"json","broker":"df061a1c.bc3198","x":100,"y":100,"wires":[["fa020859.106ea8","9e0dcb56.952168"]]},{"id":"fa020859.106ea8","type":"debug","z":"f5e13f7b.91277","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":110,"y":60,"wires":[]},{"id":"e4b09206.bf527","type":"jquerify","z":"f5e13f7b.91277","name":"timeformat","func":"function dtFormat_00(dt){\n    feed = dt.getFullYear() + '-' +\n           ('00' + (dt.getMonth()+1)).slice(-2) + '-' +\n           ('00' + dt.getDate()).slice(-2) + ' ' + \n           ('00' + dt.getHours()).slice(-2) + ':' + \n           ('00' + dt.getMinutes()).slice(-2) + ':' + \n           ('00' + dt.getSeconds()).slice(-2);\n    return feed;\n}\n\nnow = new Date()\ninitial = new Date(now.setMinutes(now.getMinutes()-2))\nfinal = now\n\nmsg.time_i = dtFormat_00(initial)\nmsg.time_f = dtFormat_00(final)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":180,"wires":[[]]},{"id":"edbaba0f.962f98","type":"inject","z":"f5e13f7b.91277","name":"minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":360,"wires":[["7154b8e3.fdc028"]]},{"id":"7154b8e3.fdc028","type":"jquerify","z":"f5e13f7b.91277","name":"get hardware","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\n// var d = new Date(msg.payload.timestamp);\nvar id = []\nvar value = []\n$(msg.payload.values).each(function( i, val ) {\n  id.push(val.id.split(\".\")[2])\n  value.push(val.v)\n});\n\nmsg.topic = \"select kode from hardware\"\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":400,"wires":[["25378a7c.463416"]]},{"id":"25378a7c.463416","type":"mysql","z":"f5e13f7b.91277","mydb":"d28a952a.1c51a8","name":"hardware","x":300,"y":400,"wires":[["b2b531de.69cf6","76a9718a.d328c"]]},{"id":"b2b531de.69cf6","type":"debug","z":"f5e13f7b.91277","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":360,"wires":[]},{"id":"76a9718a.d328c","type":"jquerify","z":"f5e13f7b.91277","name":"parse hw","func":"initial = new Date()\nfinal = new Date()\ninitial.setMinutes(initial.getMinutes()-2)\n\nmsg.time_i = dtFormat_00(initial)\nmsg.time_f = dtFormat_00(final)\n\nmsg.hardware = []\n$(msg.payload).each(function( i, val ) {\n  msg.hardware.push(Object.values(val).join())\n})\n\nreturn msg;\n\nfunction dtFormat_00(dt){\n    feed = dt.getFullYear() + '-' +\n           ('00' + (dt.getMonth()+1)).slice(-2) + '-' +\n           ('00' + dt.getDate()).slice(-2) + ' ' + \n           ('00' + dt.getHours()).slice(-2) + ':' + \n           ('00' + dt.getMinutes()).slice(-2) + ':' + \n           ('00');\n    return feed;\n}","outputs":1,"noerr":0,"x":460,"y":400,"wires":[["31ae8f65.3bc49","92422cd4.71392","337c157e.ee2a1a"]]},{"id":"31ae8f65.3bc49","type":"debug","z":"f5e13f7b.91277","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":360,"wires":[]},{"id":"9e0dcb56.952168","type":"jquerify","z":"f5e13f7b.91277","name":"Parsing tag","func":"var tag = {}\n$(msg.payload.values).each(function( i, val ) {\n  if(!(tag[val.id.split(\".\")[1]])){\n    tag[val.id.split(\".\")[1]] = {}  \n  }\n  tag[val.id.split(\".\")[1]][val.id.split(\".\")[2]] = val.v\n});\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["72c8335d.21f9bc","9fbe56.5c09d1a8","bea73573.b7ade8"]]},{"id":"72c8335d.21f9bc","type":"debug","z":"f5e13f7b.91277","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tag['pm1']","targetType":"msg","x":290,"y":60,"wires":[]},{"id":"9fbe56.5c09d1a8","type":"jquerify","z":"f5e13f7b.91277","name":"pm1","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar key = Object.keys(msg.tag[msg.keytag[0]])\nvar value = Object.values(msg.tag[msg.keytag[0]])\nmsg.topic = \"INSERT INTO \"+msg.keytag[0]+\" (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":100,"wires":[["e8e0123f.013f2"]]},{"id":"e8e0123f.013f2","type":"mysql","z":"f5e13f7b.91277","mydb":"d28a952a.1c51a8","name":"log per second","x":780,"y":100,"wires":[[]]},{"id":"bea73573.b7ade8","type":"jquerify","z":"f5e13f7b.91277","name":"pm2","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar key = Object.keys(msg.tag[msg.keytag[1]])\nvar value = Object.values(msg.tag[msg.keytag[1]])\nmsg.topic = \"INSERT INTO \"+msg.keytag[1]+\" (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["e8e0123f.013f2"]]},{"id":"92422cd4.71392","type":"jquerify","z":"f5e13f7b.91277","name":"get avg @hw","func":"msg.topic = \"SELECT '\"+msg.time_f+\"' as timestamp,\"+\n            \" '\"+msg.hardware[0]+\"_avg' as modul,\"+\n            \" avg(cur_1) as cur_1,\"+\n            \" avg(cur_2) as cur_2,\"+\n            \" avg(cur_3) as cur_3,\"+\n            \" avg(cur_avg) as cur_avg,\"+\n            \" avg(power_app) as power_app,\"+\n            \" avg(power_real) as power_real\"+\n            \" FROM `\"+msg.hardware[0]+\"`\"+\n            \" WHERE `timestamp` > '\"+msg.time_i+\"'\"+\n            \" AND `timestamp` <= '\"+msg.time_f+\"'\"\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":400,"wires":[["862275f0.ce5348","349b874d.3c0338"]]},{"id":"862275f0.ce5348","type":"debug","z":"f5e13f7b.91277","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":690,"y":360,"wires":[]},{"id":"349b874d.3c0338","type":"mysql","z":"f5e13f7b.91277","mydb":"d28a952a.1c51a8","name":"avg","x":870,"y":400,"wires":[["aea7adc6.a4627","3f2130e7.f458"]]},{"id":"aea7adc6.a4627","type":"debug","z":"f5e13f7b.91277","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":440,"wires":[]},{"id":"3f2130e7.f458","type":"jquerify","z":"f5e13f7b.91277","name":"insert avg","func":"msg.topic = \"INSERT INTO `\"+msg.payload[0].modul+\"`\"+\n            \" (`cur_1`, `cur_2`, `cur_3`, `cur_avg`, `power_app`, `power_real`, `timestamp`)\"+\n            \" VALUES\"+\n            \" ('\"+msg.payload[0].cur_1+\"',\"+\n            \" '\"+msg.payload[0].cur_2+\"',\"+\n            \" '\"+msg.payload[0].cur_3+\"',\"+\n            \" '\"+msg.payload[0].cur_avg+\"',\"+\n            \" '\"+msg.payload[0].power_app+\"',\"+\n            \" '\"+msg.payload[0].power_real+\"',\"+\n            \" '\"+msg.payload[0].timestamp+\"')\"\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":260,"wires":[["750e0a53.32d804","bbb90dbe.aeb54"]]},{"id":"750e0a53.32d804","type":"debug","z":"f5e13f7b.91277","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":690,"y":220,"wires":[]},{"id":"bbb90dbe.aeb54","type":"mysql","z":"f5e13f7b.91277","mydb":"d28a952a.1c51a8","name":"insert","x":830,"y":260,"wires":[[]]},{"id":"337c157e.ee2a1a","type":"jquerify","z":"f5e13f7b.91277","name":"get avg @hw","func":"msg.topic = \"SELECT '\"+msg.time_f+\"' as timestamp,\"+\n            \" '\"+msg.hardware[1]+\"_avg' as modul,\"+\n            \" avg(cur_1) as cur_1,\"+\n            \" avg(cur_2) as cur_2,\"+\n            \" avg(cur_3) as cur_3,\"+\n            \" avg(cur_avg) as cur_avg,\"+\n            \" avg(power_app) as power_app,\"+\n            \" avg(power_real) as power_real\"+\n            \" FROM `\"+msg.hardware[1]+\"`\"+\n            \" WHERE `timestamp` > '\"+msg.time_i+\"'\"+\n            \" AND `timestamp` <= '\"+msg.time_f+\"'\"\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["349b874d.3c0338"]]},{"id":"cd5776fa.c698e8","type":"mqtt in","z":"78bedbb.044e524","name":"kepserver - \"line_5a\"","topic":"line_5a","qos":"1","datatype":"json","broker":"df061a1c.bc3198","x":110,"y":100,"wires":[["dc346990.2a9e68","e27af96b.cb8b98","a0cbcb1c.896a08"]]},{"id":"e27af96b.cb8b98","type":"jquerify","z":"78bedbb.044e524","name":"Parsing tag","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n  if(!(tag[val.id.split(\".\")[1]+\".\"+val.id.split(\".\")[2]])){\n    tag[val.id.split(\".\")[1]+\".\"+val.id.split(\".\")[2]] = {}  \n  }\n  tag[val.id.split(\".\")[1]+\".\"+val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n});\nmsg.timestamp = timestamp\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\nmsg.complete = true\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":100,"wires":[["f64df3b2.ca892","f4e7f570.42af28"]]},{"id":"f64df3b2.ca892","type":"debug","z":"78bedbb.044e524","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":60,"wires":[]},{"id":"dc346990.2a9e68","type":"debug","z":"78bedbb.044e524","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":90,"y":60,"wires":[]},{"id":"53a8e34a.d0175c","type":"jquerify","z":"78bedbb.044e524","name":"mesin_1.motor_1","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[0];\ndice = msg.dice.dice_5am1;\nif(keytag == \"mesin_1.motor_1\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am11 (timestamp,\"+key.join()+\", dice) VALUES ('\"+timestamp+\"',\"+value.join()+\",\"+dice+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":100,"wires":[["ade228f3.bd2778"]]},{"id":"ade228f3.bd2778","type":"debug","z":"78bedbb.044e524","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1430,"y":60,"wires":[]},{"id":"1b0f7449.fd899c","type":"mysql","z":"78bedbb.044e524","mydb":"82d84e5d.ced14","name":"database","x":1660,"y":400,"wires":[["70337843.346368"]]},{"id":"174d2c07.e20e34","type":"jquerify","z":"78bedbb.044e524","name":"mesin_1.motor_2","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[1];\nif(keytag == \"mesin_1.motor_2\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am12 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":140,"wires":[["1b0f7449.fd899c"]]},{"id":"52525869.50c738","type":"jquerify","z":"78bedbb.044e524","name":"mesin_1.motor_3","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[2];\nif(keytag == \"mesin_1.motor_3\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am13 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":180,"wires":[["1b0f7449.fd899c"]]},{"id":"4b92ba73.543d74","type":"jquerify","z":"78bedbb.044e524","name":"mesin_1.motor_4","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[3];\nif(keytag == \"mesin_1.motor_4\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am14 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":220,"wires":[["1b0f7449.fd899c"]]},{"id":"1c79e1d.50fcd1e","type":"jquerify","z":"78bedbb.044e524","name":"mesin_2.motor_1","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[4];\nif(keytag == \"mesin_2.motor_1\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am21 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":260,"wires":[["1b0f7449.fd899c"]]},{"id":"fd6d74d2.93fd38","type":"jquerify","z":"78bedbb.044e524","name":"mesin_2.motor_2","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[5];\nif(keytag == \"mesin_2.motor_2\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am22 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":300,"wires":[["1b0f7449.fd899c"]]},{"id":"c8f88468.db2908","type":"jquerify","z":"78bedbb.044e524","name":"mesin_2.motor_3","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[6];\nif(keytag == \"mesin_2.motor_3\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am23 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":340,"wires":[["1b0f7449.fd899c"]]},{"id":"c7990fe4.52323","type":"jquerify","z":"78bedbb.044e524","name":"mesin_2.motor_4","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[7];\nif(keytag == \"mesin_2.motor_4\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am24 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":380,"wires":[["1b0f7449.fd899c"]]},{"id":"4f864c65.8d3424","type":"websocket out","z":"78bedbb.044e524","name":"","server":"54cf17ec.aefd68","client":"","x":1550,"y":740,"wires":[]},{"id":"a0cbcb1c.896a08","type":"jquerify","z":"78bedbb.044e524","name":"Parsing tag","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n  if(!(tag[val.id.split(\".\")[1]])){\n    tag[val.id.split(\".\")[1]] = {}\n  } \n    if(!(tag[val.id.split(\".\")[1]][val.id.split(\".\")[2]])){\n        tag[val.id.split(\".\")[1]][val.id.split(\".\")[2]] = {}  \n    }\n  tag[val.id.split(\".\")[1]][val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n});\nmsg.timestamp = timestamp\nmsg.payload = tag\n// msg.keytag = Object.keys(msg.tag)\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":740,"wires":[["289c7ed6.6517a2","345ae70.719d41a","dee12e98.d5bf3"]]},{"id":"289c7ed6.6517a2","type":"debug","z":"78bedbb.044e524","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":700,"wires":[]},{"id":"345ae70.719d41a","type":"jquerify","z":"78bedbb.044e524","name":"mesin_1","func":"msg.payload = msg.payload.mesin_1\nmsg.payload.timestamp = msg.timestamp\n\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":740,"wires":[["4f864c65.8d3424"]]},{"id":"9c0a02bb.1be0a","type":"websocket out","z":"78bedbb.044e524","name":"","server":"c0838175.0a50a","client":"","x":1550,"y":780,"wires":[]},{"id":"2af03159.a55cfe","type":"jquerify","z":"78bedbb.044e524","name":"mesin_2","func":"msg.payload = msg.payload.mesin_2\nmsg.payload.timestamp = msg.timestamp\n\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":780,"wires":[["9c0a02bb.1be0a"]]},{"id":"7dab1b26.c5b934","type":"websocket out","z":"78bedbb.044e524","name":"","server":"402c8165.172ed","client":"","x":1550,"y":820,"wires":[]},{"id":"8566d149.6ba71","type":"jquerify","z":"78bedbb.044e524","name":"mesin_3","func":"msg.payload = msg.payload.mesin_3\nmsg.payload.timestamp = msg.timestamp\n\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":820,"wires":[["7dab1b26.c5b934"]]},{"id":"58c1aca3.e7eba4","type":"websocket out","z":"78bedbb.044e524","name":"","server":"4eae0d1d.5bd604","client":"","x":1550,"y":860,"wires":[]},{"id":"730949db.67bbe8","type":"jquerify","z":"78bedbb.044e524","name":"mesin_4","func":"msg.payload = msg.payload.mesin_4\nmsg.payload.timestamp = msg.timestamp\n\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":860,"wires":[["58c1aca3.e7eba4"]]},{"id":"70337843.346368","type":"debug","z":"78bedbb.044e524","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1670,"y":360,"wires":[]},{"id":"39d776e9.1c957a","type":"jquerify","z":"78bedbb.044e524","name":"mesin_3.motor_1","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[8];\nif(keytag == \"mesin_3.motor_1\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am31 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":420,"wires":[["1b0f7449.fd899c"]]},{"id":"217119bf.96d056","type":"jquerify","z":"78bedbb.044e524","name":"mesin_3.motor_2","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[9];\nif(keytag == \"mesin_3.motor_2\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am32 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":460,"wires":[["1b0f7449.fd899c"]]},{"id":"d53ed59b.5c2e48","type":"jquerify","z":"78bedbb.044e524","name":"mesin_3.motor_3","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[10];\nif(keytag == \"mesin_3.motor_3\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am33 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":500,"wires":[["1b0f7449.fd899c"]]},{"id":"43ccb76f.c235f8","type":"jquerify","z":"78bedbb.044e524","name":"mesin_3.motor_4","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[11];\nif(keytag == \"mesin_3.motor_4\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am34 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":540,"wires":[["1b0f7449.fd899c"]]},{"id":"73af2fcb.465d7","type":"jquerify","z":"78bedbb.044e524","name":"mesin_4.motor_1","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[12];\nif(keytag == \"mesin_4.motor_1\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am41 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":580,"wires":[["1b0f7449.fd899c"]]},{"id":"1dcb405c.33b66","type":"jquerify","z":"78bedbb.044e524","name":"mesin_4.motor_2","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[13];\nif(keytag == \"mesin_4.motor_2\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am42 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":620,"wires":[["1b0f7449.fd899c"]]},{"id":"ed7c5f06.4292e","type":"jquerify","z":"78bedbb.044e524","name":"mesin_4.motor_3","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[14];\nif(keytag == \"mesin_4.motor_3\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am43 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":660,"wires":[["1b0f7449.fd899c"]]},{"id":"9713a4cf.b27438","type":"jquerify","z":"78bedbb.044e524","name":"mesin_4.motor_4","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[15];\nif(keytag == \"mesin_4.motor_4\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am44 (timestamp,\"+key.join()+\") VALUES ('\"+timestamp+\"',\"+value.join()+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":700,"wires":[["1b0f7449.fd899c"]]},{"id":"dee12e98.d5bf3","type":"jquerify","z":"78bedbb.044e524","name":"mesin_1","func":"msg.payload = msg.payload.mesin_1\nmsg.payload.timestamp = msg.timestamp\nmsg.complete = true;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":820,"wires":[[]]},{"id":"ef2dd89.6e5e528","type":"join","z":"78bedbb.044e524","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":920,"wires":[[]]},{"id":"4ebfeaf4.0f7c64","type":"mqtt in","z":"78bedbb.044e524","name":"kepserver - \"line_5a_dice\"","topic":"line_5a_dice","qos":"1","datatype":"json","broker":"df061a1c.bc3198","x":370,"y":140,"wires":[["2de0c272.40031e"]]},{"id":"2de0c272.40031e","type":"jquerify","z":"78bedbb.044e524","name":"Parsing tag","func":"var tag = {}\n$(msg.payload.values).each(function( i, val ) {\n  tag[val.id.split(\".\")[2]] = val.v\n});\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["784e424a.b4a58c","f251fe6c.f2154","9e4453aa.87a12","5687ea63.f94654","e00183f8.9dd27"]]},{"id":"f4e7f570.42af28","type":"join","z":"78bedbb.044e524","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":100,"wires":[["53a8e34a.d0175c","cc5518bd.bffd58"]]},{"id":"cc5518bd.bffd58","type":"debug","z":"78bedbb.044e524","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":60,"wires":[]},{"id":"784e424a.b4a58c","type":"jquerify","z":"78bedbb.044e524","name":"dice_5am1","func":"dice = msg.tag[msg.keytag[0]]\nmsg.dice = msg.keytag[0]\nmsg.topic = \"SELECT * FROM dice WHERE code=\"+dice\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["a379b9ec.9fe958","86d6455c.202088"]]},{"id":"a379b9ec.9fe958","type":"debug","z":"78bedbb.044e524","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":140,"wires":[]},{"id":"86d6455c.202088","type":"mysql","z":"78bedbb.044e524","mydb":"82d84e5d.ced14","name":"database","x":840,"y":300,"wires":[["fd86e77b.370028","2c54fa9a.940b16","f4e7f570.42af28"]]},{"id":"fd86e77b.370028","type":"debug","z":"78bedbb.044e524","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":340,"wires":[]},{"id":"f251fe6c.f2154","type":"debug","z":"78bedbb.044e524","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"keytag","targetType":"msg","x":430,"y":220,"wires":[]},{"id":"9e4453aa.87a12","type":"jquerify","z":"78bedbb.044e524","name":"dice_5am2","func":"dice = msg.tag.dice_5am2\nmsg.topic = \"SELECT * FROM dice WHERE code=\"+dice\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":220,"wires":[[]]},{"id":"5687ea63.f94654","type":"jquerify","z":"78bedbb.044e524","name":"dice_5am3","func":"dice = msg.tag.dice_5am3\nmsg.topic = \"SELECT * FROM dice WHERE code=\"+dice\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[[]]},{"id":"e00183f8.9dd27","type":"jquerify","z":"78bedbb.044e524","name":"dice_5am4","func":"dice = msg.tag.dice_5am4\nmsg.topic = \"SELECT * FROM dice WHERE code=\"+dice\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":300,"wires":[[]]},{"id":"2c54fa9a.940b16","type":"jquerify","z":"78bedbb.044e524","name":"dice_5am1","func":"var clean = msg.payload[0]\nmsg[\"payload\"] = []\n// msg[msg.keytag[0]] = msg.payload[0]\n// msg[msg.keytag[0]]['dice'] = msg.keytag[0]\nmsg[\"payload\"][msg.keytag[0]] = []\nmsg[\"payload\"][msg.keytag[0]][\"vibration\"] = clean[\"vibration_alarm\"]\nmsg[\"payload\"][msg.keytag[0]][\"temperature\"] = clean[\"temperature_alarm\"]\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":260,"wires":[["4bd3c46c.adba9c"]]},{"id":"4bd3c46c.adba9c","type":"debug","z":"78bedbb.044e524","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":220,"wires":[]},{"id":"1d69c57e.48199b","type":"mqtt in","z":"41682afd.cfa0e4","name":"kepserver - \"5am1\"","topic":"5am1","qos":"0","datatype":"json","broker":"df061a1c.bc3198","x":110,"y":40,"wires":[["43ec434a.4539dc","d1350594.8ac768"]]},{"id":"43ec434a.4539dc","type":"debug","z":"41682afd.cfa0e4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":80,"wires":[]},{"id":"be144923.a67198","type":"jquerify","z":"41682afd.cfa0e4","name":"Parsing param","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[1] == \"mesin_1\"){\n      if(!(tag[val.id.split(\".\")[2]])){\n        tag[val.id.split(\".\")[2]] = {}  \n      }\n      tag[val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n    } else if(val.id.split(\".\")[2] == \"dice_5am1\"){\n        msg.dies = val.v\n    }\n});\nmsg.timestamp = timestamp\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n// msg.complete = true\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["aae334a9.317c98","39e37b7c.403064"]]},{"id":"aae334a9.317c98","type":"debug","z":"41682afd.cfa0e4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":160,"wires":[]},{"id":"39e37b7c.403064","type":"jquerify","z":"41682afd.cfa0e4","name":"dies_5am1","func":"dies = msg.dies\nmsg.topic = \"SELECT * FROM dies WHERE code=\"+dies\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["cc83f4af.4103e8"]]},{"id":"cc83f4af.4103e8","type":"mysql","z":"41682afd.cfa0e4","mydb":"82d84e5d.ced14","name":"get db Dies","x":330,"y":240,"wires":[["c2e9e5c8.63da58","b29e1a38.9b5d48","a13d1307.5f0fb","9c5414b1.91e618","ef7ce9a4.3c6418","45f8f157.2b6fb"]]},{"id":"c2e9e5c8.63da58","type":"debug","z":"41682afd.cfa0e4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":200,"wires":[]},{"id":"b29e1a38.9b5d48","type":"jquerify","z":"41682afd.cfa0e4","name":"mesin_1.motor_1","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[0];\nstandard_vibration = msg.payload[0].vibration_alarm\nstandard_temperature = msg.payload[0].temperature_alarm\nif(keytag == \"motor_1\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am11 (timestamp,\"+key.join()+\", standard_vibration, standard_temperature) VALUES ('\"+timestamp+\"',\"+value.join()+\",\"+standard_vibration+\",\"+standard_temperature+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["d323c7a8.3fbcf8","a8c2ca3a.c75b68"]]},{"id":"d323c7a8.3fbcf8","type":"mysql","z":"41682afd.cfa0e4","mydb":"82d84e5d.ced14","name":"store","x":810,"y":240,"wires":[["63cb2c7d.78e204"]]},{"id":"a8c2ca3a.c75b68","type":"debug","z":"41682afd.cfa0e4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":200,"wires":[]},{"id":"a13d1307.5f0fb","type":"jquerify","z":"41682afd.cfa0e4","name":"mesin_1.motor_2","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[1];\nstandard_vibration = msg.payload[0].vibration_alarm\nstandard_temperature = msg.payload[0].temperature_alarm\nif(keytag == \"motor_2\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am12 (timestamp,\"+key.join()+\", standard_vibration, standard_temperature) VALUES ('\"+timestamp+\"',\"+value.join()+\",\"+standard_vibration+\",\"+standard_temperature+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["d323c7a8.3fbcf8"]]},{"id":"9c5414b1.91e618","type":"jquerify","z":"41682afd.cfa0e4","name":"mesin_1.motor_3","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[2];\nstandard_vibration = msg.payload[0].vibration_alarm\nstandard_temperature = msg.payload[0].temperature_alarm\nif(keytag == \"motor_3\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am13 (timestamp,\"+key.join()+\", standard_vibration, standard_temperature) VALUES ('\"+timestamp+\"',\"+value.join()+\",\"+standard_vibration+\",\"+standard_temperature+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["d323c7a8.3fbcf8"]]},{"id":"ef7ce9a4.3c6418","type":"jquerify","z":"41682afd.cfa0e4","name":"mesin_1.motor_4","func":"timestamp = msg.timestamp;\nkeytag = msg.keytag[3];\nstandard_vibration = msg.payload[0].vibration_alarm\nstandard_temperature = msg.payload[0].temperature_alarm\nif(keytag == \"motor_4\"){\n    var key = Object.keys(msg.tag[keytag])\n    var value = Object.values(msg.tag[keytag])\n    msg.topic = \"INSERT INTO 5am14 (timestamp,\"+key.join()+\", standard_vibration, standard_temperature) VALUES ('\"+timestamp+\"',\"+value.join()+\",\"+standard_vibration+\",\"+standard_temperature+\");\"\n}else{\n    msg.topic = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":360,"wires":[["d323c7a8.3fbcf8"]]},{"id":"63cb2c7d.78e204","type":"debug","z":"41682afd.cfa0e4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":280,"wires":[]},{"id":"456f551a.115e1c","type":"websocket out","z":"41682afd.cfa0e4","name":"","server":"54cf17ec.aefd68","client":"","x":320,"y":320,"wires":[]},{"id":"45f8f157.2b6fb","type":"jquerify","z":"41682afd.cfa0e4","name":"ws/mesin_1","func":"dies = msg.payload[0]\n\nmsg.payload = msg.tag\nmsg.payload.dies = dies\nmsg.payload.timestamp = msg.timestamp\n// msg.complete = true\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["456f551a.115e1c"]]},{"id":"d1350594.8ac768","type":"jquerify","z":"41682afd.cfa0e4","name":"Parsing crank_angle","func":"$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"crank_angle\"){\n        msg.crank_angle = val.v\n    }\n});\n\nreturn msg","outputs":1,"noerr":0,"x":360,"y":40,"wires":[["ab9d9d29.b708b","30f27c4d.61c7c4"]]},{"id":"ab9d9d29.b708b","type":"switch","z":"41682afd.cfa0e4","name":"90<crank_angle<95","property":"crank_angle","propertyType":"msg","rules":[{"t":"btwn","v":"90","vt":"num","v2":"95","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":80,"wires":[["e3479202.73dba"]]},{"id":"e3479202.73dba","type":"rbe","z":"41682afd.cfa0e4","name":"timestamp deadband 500ms","func":"deadband","gap":"500","start":"","inout":"in","property":"payload.timestamp","x":380,"y":120,"wires":[["be144923.a67198"]]},{"id":"30f27c4d.61c7c4","type":"debug","z":"41682afd.cfa0e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":40,"wires":[]},{"id":"1e26a59a.5a945a","type":"mqtt in","z":"2d826a6a.995236","name":"kepserver - \"alarm\"","topic":"alarm","qos":"0","datatype":"json","broker":"df061a1c.bc3198","x":110,"y":40,"wires":[["c004a988.7fd1e8","b8f33fc9.f8efa"]]},{"id":"c004a988.7fd1e8","type":"debug","z":"2d826a6a.995236","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":40,"wires":[]},{"id":"5abd91b0.9e8cd","type":"jquerify","z":"2d826a6a.995236","name":"Parsing param","func":"var feed = []\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"alarm\"){\n        if(val.v == 1){\n            date = new Date(val.t)\n            timestamp = date.getFullYear() + '-' +\n                ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n                ('00' + date.getDate()).slice(-2) + ' ' + \n                ('00' + date.getHours()).slice(-2) + ':' + \n                ('00' + date.getMinutes()).slice(-2) + ':' + \n                ('00' + date.getSeconds()).slice(-2);\n            feed.push({code:val.id.split(\".\")[3],t:timestamp,T:val.t})\n        }\n    }\n});\nmsg.payload = feed\n\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":100,"wires":[["19e6f167.21204f"]]},{"id":"19e6f167.21204f","type":"debug","z":"2d826a6a.995236","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":120,"wires":[]},{"id":"b8f33fc9.f8efa","type":"bigsplitter","z":"2d826a6a.995236","name":"","property":"payload.values","x":320,"y":80,"wires":[["7ab7be27.3c835","720df086.c50d1"],[]]},{"id":"7ab7be27.3c835","type":"debug","z":"2d826a6a.995236","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":511,"y":36,"wires":[]},{"id":"720df086.c50d1","type":"jquerify","z":"2d826a6a.995236","name":"Parsing param","func":"date = new Date(msg.payload.t)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nmsg.alarm = {}\nif(msg.payload.id.split(\".\")[2] == \"alarm\"){\n    msg.alarm.code = msg.payload.id.split(\".\")[3]\n    msg.alarm.val = msg.payload.v\n    msg.alarm.timestamp = timestamp\n    msg.alarm.raw_timestamp = msg.payload.t\n    msg.topic =\"SELECT * FROM history_alarm\"+\n            \" WHERE `alarm.code` ='\"+msg.alarm.code+\"'\"+\n            \" AND `end_timestamp` is null\"\n} else {\n    msg.topic = \"\"\n}\n\nmsg.timestamp = timestamp\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":73,"wires":[["23b5113c.c8af7e","ee43182a.5c6288"]]},{"id":"23b5113c.c8af7e","type":"debug","z":"2d826a6a.995236","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":40,"wires":[]},{"id":"eb766de5.3059a","type":"debug","z":"2d826a6a.995236","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":80,"wires":[]},{"id":"ee43182a.5c6288","type":"mysql","z":"2d826a6a.995236","mydb":"82d84e5d.ced14","name":"get history alarm","x":520,"y":120,"wires":[["eb766de5.3059a","cfd55ead.a2547"]]},{"id":"cfd55ead.a2547","type":"switch","z":"2d826a6a.995236","name":"alarm condition","property":"alarm.val","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":160,"wires":[["a7fef750.bcbc08"],["169dc0de.ea938f"]]},{"id":"a7fef750.bcbc08","type":"jquerify","z":"2d826a6a.995236","name":"Parsing param","func":"if(msg.payload.length > 0){\n    id = []\n    $(msg.payload).each(function( i, val ) {\n        id.push(val.id)\n    });\n    msg.topic = \"UPDATE history_alarm \"+\n                \"SET `end_timestamp`='\"+msg.alarm.timestamp+\"' \"+\n                \"WHERE `id`='\"+id.join(',')+\"'\"\n} else if(msg.payload.length > 1){\n    id = []\n    $(msg.payload).each(function( i, val ) {\n        id.push(val.id)\n    });\n    msg.topic = \"UPDATE history_alarm \"+\n                \"SET `end_timestamp` \"+\n                \"VALUES (\"+msg.alarm.timestamp+\") \"+\n                \"WHERE `id` IN (\"+id.join(',')+\")\"\n} else {\n    msg.topic = \"\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":120,"wires":[["1fa78347.52ee4d"]]},{"id":"a8e72253.5f268","type":"debug","z":"2d826a6a.995236","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":140,"wires":[]},{"id":"169dc0de.ea938f","type":"jquerify","z":"2d826a6a.995236","name":"Parsing param","func":"if(msg.payload.length == 0){\n    msg.topic = \"INSERT INTO history_alarm \"+\n                \"(`alarm.code`, `timestamp`) \"+\n                \"VALUES ('\"+msg.alarm.code+\"','\"+msg.alarm.timestamp+\"')\"\n} else {\n    msg.topic = \"\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":200,"wires":[["1fa78347.52ee4d"]]},{"id":"ca4ff403.34c488","type":"mysql","z":"2d826a6a.995236","mydb":"82d84e5d.ced14","name":"get history alarm","x":960,"y":180,"wires":[[]]},{"id":"1fa78347.52ee4d","type":"switch","z":"2d826a6a.995236","name":"alarm condition","property":"topic","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":160,"wires":[["ca4ff403.34c488","a8e72253.5f268"]]},{"id":"426c7b2.5b11384","type":"websocket out","z":"2d826a6a.995236","name":"alarm_5aa1","server":"56679c05.49c634","client":"","x":110,"y":140,"wires":[]},{"id":"deeba8f1.2ecc68","type":"inject","z":"2d826a6a.995236","name":"ws_from_db","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":200,"wires":[["3d198cf1.8db744"]]},{"id":"3d198cf1.8db744","type":"jquerify","z":"2d826a6a.995236","name":"Parsing param","func":"msg.topic = \"SELECT `h`.`id`, timestamp, `h`.`alarm.code` as code, note, action, \"+\n            \"`a`.`line.id` as line, `machine.id` as machine, `part.id` as part, \"+\n            \"`m`.`code` as tag, `part.id` as part \"+\n            \"FROM history_alarm as h \"+\n            \"LEFT JOIN alarm as a ON `a`.`code` = `h`.`alarm.code` \"+\n            \"LEFT JOIN machine as m ON `m`.`id` = `a`.`machine.id` \"+\n            \"WHERE end_timestamp is null \"+\n            \"ORDER BY timestamp ASC\"\n\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":240,"wires":[["3d21b255.2ac1ce"]]},{"id":"3d21b255.2ac1ce","type":"mysql","z":"2d826a6a.995236","mydb":"82d84e5d.ced14","name":"get history alarm","x":120,"y":280,"wires":[["824ccaa2.48db88","e6533f6d.53fc1"]]},{"id":"824ccaa2.48db88","type":"debug","z":"2d826a6a.995236","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":280,"wires":[]},{"id":"e6533f6d.53fc1","type":"websocket out","z":"2d826a6a.995236","name":"alarm_5aa1","server":"56679c05.49c634","client":"","x":130,"y":320,"wires":[]},{"id":"ae6bbb48.7c7e48","type":"mqtt in","z":"878d3cd5.e63b4","name":"kepserver - \"CT_SENSOR\"","topic":"CT_SENSOR","qos":"0","datatype":"json","broker":"df061a1c.bc3198","x":130,"y":80,"wires":[["a6105c9d.97e57","fb0f17e6.eed928"]]},{"id":"a6105c9d.97e57","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":80,"wires":[]},{"id":"fb0f17e6.eed928","type":"jquerify","z":"878d3cd5.e63b4","name":"Parsing param","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"CT_SENSOR\"){\n        tag[val.id.split(\".\")[3]] = val.v\n    //   tag[val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n    }\n});\nmsg.timestamp = timestamp\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":120,"wires":[["f527bb50.7c9578","a8fd8d0e.84e2d"]]},{"id":"f527bb50.7c9578","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":120,"wires":[]},{"id":"daccd1a9.ee279","type":"websocket out","z":"878d3cd5.e63b4","name":"","server":"c9eee5fd.bfcfb8","client":"","x":150,"y":200,"wires":[]},{"id":"a8fd8d0e.84e2d","type":"jquerify","z":"878d3cd5.e63b4","name":"Parsing topic","func":"msg.payload = msg.tag\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":160,"wires":[["daccd1a9.ee279","c41abb6c.93a338","cf7d73cf.d67ab"]]},{"id":"c41abb6c.93a338","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":160,"wires":[]},{"id":"a6da3892.ef50c8","type":"inject","z":"878d3cd5.e63b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":820,"wires":[["fe905900.967558"]]},{"id":"cc0de52f.873f78","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":820,"wires":[]},{"id":"fe905900.967558","type":"jquerify","z":"878d3cd5.e63b4","name":"Parsing topic","func":"global.set('kwh_old', 1)\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":820,"wires":[["cc0de52f.873f78"]]},{"id":"af9aefe5.474e6","type":"e-mail","z":"878d3cd5.e63b4","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"Symptomp ALARM!","x":770,"y":420,"wires":[]},{"id":"96146904.8c3ff8","type":"jquerify","z":"878d3cd5.e63b4","name":"split ready","func":"msg.topic = []\n$(msg.keytag).each(function( i, val ) {\n    if(val == 'CTInPress'){\n        msg.topic[i] = querying('ct_in_press',msg.timestamp,msg.tag[val])\n    } else if(val == 'CTInTemp'){\n        msg.topic[i] = querying('ct_in_temp',msg.timestamp,msg.tag[val])\n    } else if(val == 'CTOutPress'){\n        msg.topic[i] = querying('ct_out_press',msg.timestamp,msg.tag[val])\n    } else if(val == 'CTOutTemp'){\n        msg.topic[i] = querying('ct_out_temp',msg.timestamp,msg.tag[val])\n    }\n    // msg.topic[i] = msg.tag[val]\n});\nreturn msg;\n\nfunction querying(modul,datetime,value){\n    feed = 'INSERT INTO '+modul+\n        ' (datetime,val)'+\n        ' VALUES (\"'+datetime+'\",\"'+value+'\")'+\n        ' ON DUPLICATE KEY UPDATE '+\n        'val=\"'+value+'\"'\n    return feed\n}\n\n\n\n\n\n","outputs":1,"noerr":0,"x":770,"y":160,"wires":[["a68d49c3.6569e8","175e7d77.6a68a3"]]},{"id":"41c995aa.c9e14c","type":"jquerify","z":"878d3cd5.e63b4","name":"/10 min","func":"hour = (new Date(msg.timestamp)).getHours()\nminute = (new Date(msg.timestamp)).getMinutes()\nsecond = (new Date(msg.timestamp)).getSeconds()\n\n// if(second%60 == 0 ){\nif(minute%10 == 00 && second == 00){\n    msg.rbe = true\n} else {\n    msg.rbe = false\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":160,"wires":[["bdd0fe5b.a2701","7caef97c.196b08"]]},{"id":"bdd0fe5b.a2701","type":"switch","z":"878d3cd5.e63b4","name":"","property":"rbe","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":120,"wires":[["97ac2cb2.7c512","70cafca9.301894","96146904.8c3ff8"]]},{"id":"97ac2cb2.7c512","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":80,"wires":[]},{"id":"7caef97c.196b08","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":200,"wires":[]},{"id":"a68d49c3.6569e8","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":200,"wires":[]},{"id":"175e7d77.6a68a3","type":"bigsplitter","z":"878d3cd5.e63b4","name":"split","property":"topic","x":790,"y":200,"wires":[["ccb76e23.992f3","b19fb652.ef24b8"],[]]},{"id":"ccb76e23.992f3","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":240,"wires":[]},{"id":"1a7359d7.66e906","type":"mysql","z":"878d3cd5.e63b4","mydb":"948c2523.c95968","name":"","x":780,"y":280,"wires":[[]]},{"id":"b19fb652.ef24b8","type":"jquerify","z":"878d3cd5.e63b4","name":"Query","func":"msg.topic = msg.payload\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["1a7359d7.66e906","6d61a652.1cf768"]]},{"id":"6d61a652.1cf768","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":280,"wires":[]},{"id":"cf7d73cf.d67ab","type":"jquerify","z":"878d3cd5.e63b4","name":"Query lim","func":"msg.topic = 'SELECT * FROM ct_weld_limit'\nreturn msg","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["c763ecaf.11a62"]]},{"id":"c763ecaf.11a62","type":"mysql","z":"878d3cd5.e63b4","mydb":"948c2523.c95968","name":"","x":340,"y":240,"wires":[["bc3c6eef.354dc","41c995aa.c9e14c","c9fdddef.e39dd","e7653b12.755a48"]]},{"id":"bc3c6eef.354dc","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":240,"wires":[]},{"id":"c9fdddef.e39dd","type":"jquerify","z":"878d3cd5.e63b4","name":"is alarm","func":"msg.limit = []\n$(msg.payload).each(function( i, val ) {\n    msg.limit[val.name] = val.limit\n})\nmsg.abc = msg.limit\nmsg.body = \"\"\nmsg.rbe = false\nmsg.countParam = 0\nif(msg.tag['CTInPress'] > msg.limit['ct_in_press'] || msg.tag['CTInPress'] < msg.limit['ct_in_press_low']){\n    msg.body += \"<p>Pressure IN: <span style='color:red'>\"+parseFloat(msg.tag['CTInPress']).toFixed(2)+\"</span> bar</p><br/>\"\n    msg.rbe = true\n    msg.countParam++\n}\nif(msg.tag['CTInTemp'] > msg.limit['ct_in_temp']){\n    msg.body += \"<p>Temperature IN: <span style='color:red'>\"+parseFloat(msg.tag['CTInTemp']).toFixed(2)+\"</span> \\u00B0C</p><br/>\"\n    msg.rbe = true\n    msg.countParam++\n}\nif(msg.tag['CTOutPress'] > msg.limit['ct_out_press']){\n    msg.body += \"<p>Pressure OUT: <span style='color:red'>\"+parseFloat(msg.tag['CTOutPress']).toFixed(2)+\"</span> bar</p><br/>\"\n    msg.rbe = true\n    msg.countParam++\n}\nif(msg.tag['CTOutTemp'] > msg.limit['ct_out_temp']){\n    msg.body += \"<p>Temperature OUT: <span style='color:red'>\"+parseFloat(msg.tag['CTOutTemp']).toFixed(2)+\"</span> \\u00B0C</p><br/>\"\n    msg.rbe = true\n    msg.countParam++\n}\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":540,"y":340,"wires":[["b4e21e85.25de3"]]},{"id":"dc01c09a.0a4be","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":340,"wires":[]},{"id":"35535777.38bd58","type":"jquerify","z":"878d3cd5.e63b4","name":"email setup","func":"msg = {\n    topic   : \"ALARM Cooling Tower!\",\n    payload : msg.body,\n    from    : \"noreply@alarm_ct_weld <symptomp.alarm@gmail.com>\",\n    // to      : \"suyonotmmin@gmail.com, davidisma36@gmail.com, fatullah.phoria@yahoo.co.id, rustika.radip@yahoo.co.id, ripandienjang@gmail.com, bayu.hery.purnomo@gmail.com, novalpriyadie70@gmail.com\",\n    to      : \"rezza.anwary.9@gmail.com\",\n    cc      : \"rezza@daiichimandiri.com\",\n    bcc     : \"\",\n}\nglobal.set('last_ct_weld_email', Date.parse(new Date()))\nglobal.set('last_ct_weld_msg', msg.body.length)\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":750,"y":380,"wires":[["af9aefe5.474e6"]]},{"id":"b4e21e85.25de3","type":"switch","z":"878d3cd5.e63b4","name":"","property":"rbe","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":380,"wires":[["d55a29.f3b2f5d8","dc01c09a.0a4be"]]},{"id":"9e1cca84.142728","type":"mqtt in","z":"2256082.ba521f8","name":"kepserver - \"CT_MOTOR_STATUS\"","topic":"CT_MOTOR_STATUS","qos":"0","datatype":"json","broker":"df061a1c.bc3198","x":160,"y":40,"wires":[["10018d6b.dc0c03","cb54ee8a.c887e"]]},{"id":"10018d6b.dc0c03","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":40,"wires":[]},{"id":"cb54ee8a.c887e","type":"jquerify","z":"2256082.ba521f8","name":"Parsing param","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"MOTOR_STATUS\"){\n        tag[val.id.split(\".\")[3]] = val.v\n    //   tag[val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n    }\n});\nmsg.timestamp = timestamp\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":80,"wires":[["59982506.40becc","a8c90320.9fa4b"]]},{"id":"59982506.40becc","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":80,"wires":[]},{"id":"d2a0fc81.065bf","type":"websocket out","z":"2256082.ba521f8","name":"","server":"8c11315.f6997d","client":"","x":200,"y":160,"wires":[]},{"id":"6057ddd7.7e2c14","type":"mqtt in","z":"2256082.ba521f8","name":"kepserver - \"CT_MOTOR_SENSOR\"","topic":"CT_MOTOR_SENSOR","qos":"0","datatype":"json","broker":"df061a1c.bc3198","x":160,"y":240,"wires":[["2f93161.19996ea","f1174b27.821638"]]},{"id":"2f93161.19996ea","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":180,"wires":[]},{"id":"f1174b27.821638","type":"jquerify","z":"2256082.ba521f8","name":"Parsing param","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"MOTOR_SENSOR\"){\n        tag[val.id.split(\".\")[3]] = val.v\n    //   tag[val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n    }\n});\nmsg.timestamp = timestamp\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":280,"wires":[["cb10d672.329b18","3433d7fb.b716d8"]]},{"id":"cb10d672.329b18","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":220,"wires":[]},{"id":"256c071.a0295f8","type":"websocket out","z":"2256082.ba521f8","name":"","server":"a137af40.8d26d","client":"","x":200,"y":360,"wires":[]},{"id":"3433d7fb.b716d8","type":"jquerify","z":"2256082.ba521f8","name":"Parsing topic","func":"msg.payload = msg.tag\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":320,"wires":[["256c071.a0295f8","cdefe76.6b06818","f7ba9cfa.aaf95"]]},{"id":"cdefe76.6b06818","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":260,"wires":[]},{"id":"a8c90320.9fa4b","type":"jquerify","z":"2256082.ba521f8","name":"Parsing topic","func":"msg.payload = msg.tag\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":120,"wires":[["ba56d63c.c89bb8","d2a0fc81.065bf"]]},{"id":"ba56d63c.c89bb8","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":120,"wires":[]},{"id":"30bd5645.14571a","type":"jquerify","z":"2256082.ba521f8","name":"Compare _motor_limit","func":"passing_array = msg.payload\nmsg.payload = {}\nmsg.payload.alarm = {}\nmsg.body = \"\"\n$(passing_array).each(function( i, val ) {\n    id = i+1\n    if(msg.tag['CTWeldP'+id+'Temp'] || msg.tag['CTWeldP'+id+'Vibe']){\n        if(msg.tag['CTWeldP'+id+'Temp'] > val.temp_limit || msg.tag['CTWeldP'+id+'Vibe'] > val.vibe_limit){\n            msg.payload.alarm[id] = true\n        } else {\n            msg.payload.alarm[id] = false\n        }\n        if(msg.tag['CTWeldP'+id+'Temp'] > val.temp_limit){\n            msg.body += \"<p>Motor 6 Temperature: <span style='color: red'>\"+\n                        parseFloat(msg.tag['CTWeldP'+id+'Temp']).toFixed(2)+\"</span> \\u00B0C</p><br/>\"\n        }\n        if(msg.tag['CTWeldP'+id+'Vibe'] > val.vibe_limit){\n            msg.body += \"<p>Motor 6 Vibration: <span style='color: red'>\"+\n                        parseFloat(msg.tag['CTWeldP'+id+'Vibe']).toFixed(2)+\"</span> mm/s</p><br/>\"\n        }\n    }\n});\nif(msg.body == \"\"){\n    msg.rbeMail = false\n} else {\n    msg.rbeMail = true\n}\nreturn msg","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["8b79d41d.b0cce8","acf6556d.ba9f78","26f22b2a.fcc794","caf80b5e.b4d2b8"]]},{"id":"f7ba9cfa.aaf95","type":"jquerify","z":"2256082.ba521f8","name":"Get _motor_limit","func":"msg.topic = \"select * from motor_limit\"\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["27d4fb23.506694","725d296b.42a3a8"]]},{"id":"725d296b.42a3a8","type":"mysql","z":"2256082.ba521f8","mydb":"948c2523.c95968","name":"","x":460,"y":340,"wires":[["3d91698a.2e3f26","30bd5645.14571a"]]},{"id":"8b79d41d.b0cce8","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":400,"wires":[]},{"id":"3d91698a.2e3f26","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":360,"wires":[]},{"id":"27d4fb23.506694","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":320,"wires":[]},{"id":"acf6556d.ba9f78","type":"websocket out","z":"2256082.ba521f8","name":"","server":"3e4d0bee.75bee4","client":"","x":420,"y":420,"wires":[]},{"id":"5ac59cda.02e654","type":"mqtt in","z":"1d9c4b2e.5fa565","name":"kepserver - \"CT_KWH\"","topic":"CT_KWH","qos":"0","datatype":"json","broker":"df061a1c.bc3198","x":140,"y":40,"wires":[["60e8dc24.53d9a4","d2a3cfd1.4a807"]]},{"id":"60e8dc24.53d9a4","type":"debug","z":"1d9c4b2e.5fa565","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":40,"wires":[]},{"id":"d2a3cfd1.4a807","type":"jquerify","z":"1d9c4b2e.5fa565","name":"Parsing param","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' +\n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"KWH\"){\n        tag[val.id.split(\".\")[3]] = val.v\n        global.set('kwh', val.v)\n    //   tag[val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n    }\n});\nmsg.timestamp = timestamp\nmsg.date = date\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":80,"wires":[["f8aa7895.c9ba68","715892b7.3108fc"]]},{"id":"f8aa7895.c9ba68","type":"debug","z":"1d9c4b2e.5fa565","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":80,"wires":[]},{"id":"715892b7.3108fc","type":"jquerify","z":"1d9c4b2e.5fa565","name":"Set KWH Consum","func":"hour = (new Date(msg.timestamp)).getHours()\nminute = (new Date(msg.timestamp)).getMinutes()\nsecond = (new Date(msg.timestamp)).getSeconds()\nif(!global.get('kwh_old')){\n    global.set('kwh_old', msg.tag.KWH)\n}\n// if(second%10 == 00){\nif(hour == 6 && minute == 59 && second == 00){\n    // gloal.set('kwh_consumption', global.get('kwh') - global.get('kwh_old'))\n    global.set('kwh_old', global.get('kwh'))\n}\nif(minute == 59 && second == 00){\n    global.set('kwh_consumption', global.get('kwh') - global.get('kwh_old'))\n    // global.set('kwh_old', global.get('kwh'))\n}\nmsg.rbe = global.get('kwh_consumption')\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":120,"wires":[["52f00fb6.b252d","6f3f2c99.c00184"]]},{"id":"52f00fb6.b252d","type":"debug","z":"1d9c4b2e.5fa565","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"kwh_at_6","targetType":"msg","x":330,"y":120,"wires":[]},{"id":"6f3f2c99.c00184","type":"rbe","z":"1d9c4b2e.5fa565","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"rbe","x":330,"y":160,"wires":[["e60f6db7.9a915","22780d48.27a112"]]},{"id":"e60f6db7.9a915","type":"debug","z":"1d9c4b2e.5fa565","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"rbe","targetType":"msg","x":470,"y":160,"wires":[]},{"id":"6ec43bd0.79b844","type":"jquerify","z":"1d9c4b2e.5fa565","name":"Parsing topic","func":"date = new Date(msg.date)\ndate.setHours(date.getHours() - 6);\ndate = date.getFullYear()+'-'+\n        (date.getMonth()+1)+'-'+\n        date.getDate()\nkwh = global.get('kwh') - global.get('kwh_old')\nmsg.payload = {\n    x: date,\n    y: kwh\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":320,"wires":[["ef197acf.b5b818","7ad14c36.6aab84"]]},{"id":"ef197acf.b5b818","type":"debug","z":"1d9c4b2e.5fa565","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":360,"wires":[]},{"id":"22780d48.27a112","type":"jquerify","z":"1d9c4b2e.5fa565","name":"Parsing topic","func":"date = new Date(msg.date)\ndate.setHours(date.getHours() - 6);\ndate = date.getFullYear()+'-'+\n        (date.getMonth()+1)+'-'+\n        date.getDate()\nmsg.topic = 'INSERT INTO consumption (date, kwh)'+\n            'VALUES (\"'+ date +'\", \"'+ global.get('kwh_consumption') +'\")'+\n            'ON DUPLICATE KEY UPDATE '+\n            'kwh=\"'+ global.get('kwh_consumption') +'\"'\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["b3b9f8fd.fe1998","ec0a708a.969a9","4f21f6f6.80b2f8"]]},{"id":"b3b9f8fd.fe1998","type":"mysql","z":"1d9c4b2e.5fa565","mydb":"948c2523.c95968","name":"","x":320,"y":240,"wires":[["d39a3a84.e375a8"]]},{"id":"d39a3a84.e375a8","type":"debug","z":"1d9c4b2e.5fa565","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"rbe","targetType":"msg","x":330,"y":280,"wires":[]},{"id":"7ad14c36.6aab84","type":"websocket out","z":"1d9c4b2e.5fa565","name":"","server":"48a40ac2.4d4f94","client":"","x":120,"y":360,"wires":[]},{"id":"ec0a708a.969a9","type":"debug","z":"1d9c4b2e.5fa565","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"rbe","targetType":"msg","x":470,"y":200,"wires":[]},{"id":"942f3194.e392","type":"websocket out","z":"878d3cd5.e63b4","name":"","server":"a9fe51cc.bb8c9","client":"","x":960,"y":120,"wires":[]},{"id":"70cafca9.301894","type":"jquerify","z":"878d3cd5.e63b4","name":"set ws","func":"msg.payload = msg.tag\nreturn msg\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["942f3194.e392","6054850b.6e595c"]]},{"id":"6054850b.6e595c","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":80,"wires":[]},{"id":"26f22b2a.fcc794","type":"jquerify","z":"2256082.ba521f8","name":"@/10 min","func":"hour = (new Date(msg.timestamp)).getHours()\nminute = (new Date(msg.timestamp)).getMinutes()\nsecond = (new Date(msg.timestamp)).getSeconds()\n\n// if(second%15 == 0 ){\nif(minute%10 == 00 && second == 00){\n    msg.rbe = true\n} else {\n    msg.rbe = false\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":240,"wires":[["47054545.37e7ec","4cb7ab14.fa6304"]]},{"id":"4cb7ab14.fa6304","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":200,"wires":[]},{"id":"70eed235.e5df9c","type":"e-mail","z":"2256082.ba521f8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"Symptomp ALARM!","x":610,"y":920,"wires":[]},{"id":"95d49353.8613f","type":"jquerify","z":"2256082.ba521f8","name":"Query","func":"msg.topic = []\n// $(msg.keytag).each(function( i, val ) {\n// })\nfor (i = 1; i <= 10; i++) {\n    if(msg.tag['CTWeldP'+i+'Temp'] || msg.tag['CTWeldP'+i+'Vibe']){\n        msg.topic[i] = querying('ct_m'+i+'_temp',msg.timestamp,msg.tag['CTWeldP'+i+'Temp'])\n        msg.topic[10+i] = querying('ct_m'+i+'_vibe',msg.timestamp,msg.tag['CTWeldP'+i+'Vibe'])\n    }\n}\nreturn msg;\n\nfunction querying(modul,datetime,value){\n    feed = 'INSERT INTO '+modul+\n        ' (datetime,val)'+\n        ' VALUES (\"'+datetime+'\",\"'+value+'\")'+\n        ' ON DUPLICATE KEY UPDATE '+\n        'val=\"'+value+'\"'\n    return feed\n}\n\n\n\n\n\n","outputs":1,"noerr":0,"x":870,"y":240,"wires":[["deeb4016.cf571","706c3279.0bc9ac"]]},{"id":"47054545.37e7ec","type":"switch","z":"2256082.ba521f8","name":"","property":"rbe","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":280,"wires":[["92b94e81.3f2a8","8350bf1f.846bd","95d49353.8613f"]]},{"id":"92b94e81.3f2a8","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":200,"wires":[]},{"id":"deeb4016.cf571","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":200,"wires":[]},{"id":"706c3279.0bc9ac","type":"bigsplitter","z":"2256082.ba521f8","name":"split","property":"topic","x":870,"y":280,"wires":[["d6c814f0.c79b68","f7207094.291a8"],[]]},{"id":"d6c814f0.c79b68","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":240,"wires":[]},{"id":"6bf8279b.4cacb8","type":"mysql","z":"2256082.ba521f8","mydb":"948c2523.c95968","name":"","x":880,"y":360,"wires":[[]]},{"id":"f7207094.291a8","type":"jquerify","z":"2256082.ba521f8","name":"Query","func":"msg.topic = msg.payload\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":870,"y":320,"wires":[["6bf8279b.4cacb8","553f8f94.79ee"]]},{"id":"553f8f94.79ee","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":280,"wires":[]},{"id":"4742935.283bb6c","type":"jquerify","z":"2256082.ba521f8","name":"email[body]","func":"msg.limit = []\n$(msg.payload).each(function( i, val ) {\n    msg.limit[val.name] = val.limit\n})\nmsg.body = \"\"\nmsg.rbe = false\nif(msg.tag['CTInPress'] > msg.limit['ct_in_press']){\n    msg.body += \"<p>Pressure IN: <span style='color:red'>\"+msg.tag['CTInPress']+\"</span></p><br/>\"\n    msg.rbe = true\n}\nif(msg.tag['CTInTemp'] > msg.limit['ct_in_temp']){\n    msg.body += \"<p>Temperature IN: <span style='color:red'>\"+msg.tag['CTInTemp']+\"</span></p><br/>\"\n    msg.rbe = true\n}\nif(msg.tag['CTOutPress'] > msg.limit['ct_out_press']){\n    msg.body += \"<p>Pressure OUT: <span style='color:red'>\"+msg.tag['CTOutPress']+\"</span></p><br/>\"\n    msg.rbe = true\n}\nif(msg.tag['CTOutTemp'] > msg.limit['ct_out_temp']){\n    msg.body += \"<p>Temperature OUT: <span style='color:red'>\"+msg.tag['CTOutTemp']+\"</span></p><br/>\"\n    msg.rbe = true\n}\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":840,"wires":[["fca2eeea.aac26","73adb59f.1dcd8c"]]},{"id":"73adb59f.1dcd8c","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":840,"wires":[]},{"id":"fa5cad1b.0fb7d","type":"jquerify","z":"2256082.ba521f8","name":"email setup","func":"msg = {\n    topic   : \"ALARM Cooling Tower!\",\n    payload : msg.body,\n    from    : \"noreply@alarm_ct_weld <symptomp.alarm@gmail.com>\",\n    to      : \"rezza.anwary.9@gmail.com\",\n    cc      : \"rezza@daiichimandiri.com\",\n    bcc     : \"\",\n}\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":590,"y":880,"wires":[["70eed235.e5df9c"]]},{"id":"fca2eeea.aac26","type":"switch","z":"2256082.ba521f8","name":"","property":"rbe","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":880,"wires":[["fa5cad1b.0fb7d"]]},{"id":"f07189ed.2f2128","type":"websocket out","z":"2256082.ba521f8","name":"","server":"115bfb45.b622b5","client":"","x":1060,"y":400,"wires":[]},{"id":"8350bf1f.846bd","type":"jquerify","z":"2256082.ba521f8","name":"Query","func":"msg.payload = msg.tag\nreturn msg\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":870,"y":400,"wires":[["f07189ed.2f2128","e2545f23.084c6"]]},{"id":"e2545f23.084c6","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":360,"wires":[]},{"id":"91d087c9.d2fc18","type":"jquerify","z":"2256082.ba521f8","name":"email setup","func":"msg = {\n    topic   : \"ALARM Pompa Cooling Tower!\",\n    payload : msg.body,\n    from    : \"noreply@alarm_pompa_ct <symptomp.alarm@gmail.com>\",\n    // to      : \"suyonotmmin@gmail.com, davidisma36@gmail.com, fatullah.phoria@yahoo.co.id, rustika.radip@yahoo.co.id, ripandienjang@gmail.com, bayu.hery.purnomo@gmail.com, novalpriyadie70@gmail.com\",\n    to      : \"rezza.anwary.9@gmail.com\",\n    cc      : \"rezza@daiichimandiri.com\",\n    bcc     : \"\",\n}\nglobal.set('last_ct_motor_email', Date.parse(new Date()))\nglobal.set('last_ct_motor_msg', msg.body.length)\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":870,"y":480,"wires":[["fcaccadd.22f008"]]},{"id":"fcaccadd.22f008","type":"e-mail","z":"2256082.ba521f8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"Symptomp ALARM!","x":890,"y":520,"wires":[]},{"id":"caf80b5e.b4d2b8","type":"switch","z":"2256082.ba521f8","name":"","property":"rbeMail","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":440,"wires":[["b5a3dc95.85acd"]]},{"id":"d55a29.f3b2f5d8","type":"jquerify","z":"878d3cd5.e63b4","name":"last email","func":"if(!global.get('last_ct_weld_email')){\n    global.set('last_ct_weld_email', 0)\n}\nif(!global.get('last_ct_weld_msg')){\n    global.set('last_ct_weld_msg', 0)\n}\nif(msg.body.length == global.get('last_ct_weld_msg')){\n    msg.last_ct_weld_email = Date.parse(new Date()) - global.get('last_ct_weld_email')\n} else {\n    msg.last_ct_weld_email = 600001\n}\n\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["cf998b2f.e3e8f8"]]},{"id":"cf998b2f.e3e8f8","type":"switch","z":"878d3cd5.e63b4","name":"","property":"last_ct_weld_email","propertyType":"msg","rules":[{"t":"gte","v":"1000*60*10","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":460,"wires":[["35535777.38bd58","37a71688.a1d9ba"]]},{"id":"e7653b12.755a48","type":"jquerify","z":"878d3cd5.e63b4","name":"is alarm","func":"msg.limit = []\n$(msg.payload).each(function( i, val ) {\n    msg.limit[val.name] = val.limit\n})\nmsg.payload = {}\nmsg.payload['in'] = false\nmsg.payload['out'] = false\nif(msg.tag['CTInPress'] > msg.limit['ct_in_press'] || msg.tag['CTInPress'] < msg.limit['ct_in_press_low']){\n    msg.payload['in'] = true\n}\nif(msg.tag['CTInTemp'] > msg.limit['ct_in_temp']){\n    msg.payload['in'] = true\n}\nif(msg.tag['CTOutPress'] > msg.limit['ct_out_press'] || msg.tag['CTOutPress'] < msg.limit['ct_out_press_low']){\n    msg.payload['out'] = true\n}\nif(msg.tag['CTOutTemp'] > msg.limit['ct_out_temp']){\n    msg.payload['out'] = true\n}\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["69702a53.52f704","6d02e8e9.156148"]]},{"id":"69702a53.52f704","type":"websocket out","z":"878d3cd5.e63b4","name":"","server":"f7f9e942.90ec48","client":"","x":290,"y":320,"wires":[]},{"id":"6d02e8e9.156148","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":280,"wires":[]},{"id":"b5a3dc95.85acd","type":"jquerify","z":"2256082.ba521f8","name":"last email","func":"if(!global.get('last_ct_motor_email')){\n    global.set('last_ct_motor_email', 0)\n}\nif(!global.get('last_ct_motor_msg')){\n    global.set('last_ct_motor_msg', 0)\n}\nif(msg.body.length == global.get('last_ct_motor_msg')){\n    msg.last_ct_motor_email = Date.parse(new Date()) - global.get('last_ct_motor_email')\n} else {\n    msg.last_ct_motor_email = 600001\n}\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":660,"y":480,"wires":[["accb7963.f21058","f81f8069.86e28"]]},{"id":"accb7963.f21058","type":"switch","z":"2256082.ba521f8","name":"","property":"last_ct_motor_email","propertyType":"msg","rules":[{"t":"gte","v":"1000*60*10","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":520,"wires":[["91d087c9.d2fc18","a27e5815.85d188"]]},{"id":"f81f8069.86e28","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":440,"wires":[]},{"id":"37a71688.a1d9ba","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"body.length","targetType":"msg","x":730,"y":460,"wires":[]},{"id":"4f21f6f6.80b2f8","type":"jquerify","z":"1d9c4b2e.5fa565","name":"Get _kwh_limit","func":"msg.topic = \"select * from kwh_limit\"\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["b2abd0f5.bddb4"]]},{"id":"b2abd0f5.bddb4","type":"mysql","z":"1d9c4b2e.5fa565","mydb":"948c2523.c95968","name":"","x":520,"y":280,"wires":[["b7c63783.7d3a98","86fcb935.b33188"]]},{"id":"3c74563a.ebed2a","type":"e-mail","z":"1d9c4b2e.5fa565","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"Symptomp ALARM!","x":550,"y":400,"wires":[]},{"id":"853e142f.487a48","type":"jquerify","z":"1d9c4b2e.5fa565","name":"email setup","func":"msg = {\n    topic   : \"ALARM Cooling Tower Consumption!\",\n    payload : \"Cooling tower consumption is <span style='color:red'>\"+ (global.get('kwh')).toFixed(2)+\"</span> kWh\",\n    from    : \"noreply@alarm_consumption_ct <symptomp.alarm@gmail.com>\",\n    // to      : \"suyonotmmin@gmail.com, davidisma36@gmail.com, fatullah.phoria@yahoo.co.id, rustika.radip@yahoo.co.id, ripandienjang@gmail.com, bayu.hery.purnomo@gmail.com, novalpriyadie70@gmail.com\",\n    to      : \"rezza.anwary.9@gmail.com\",\n    cc      : \"rezza@daiichimandiri.com\",\n    bcc     : \"\",\n}\nreturn msg\n\n\n\n\n\n","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["3c74563a.ebed2a"]]},{"id":"b7c63783.7d3a98","type":"debug","z":"1d9c4b2e.5fa565","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":280,"wires":[]},{"id":"86fcb935.b33188","type":"switch","z":"1d9c4b2e.5fa565","name":"","property":"kwh","propertyType":"global","rules":[{"t":"gt","v":"payload[0].limit","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":320,"wires":[["228cc401.a08e3c","853e142f.487a48"]]},{"id":"228cc401.a08e3c","type":"debug","z":"1d9c4b2e.5fa565","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":320,"wires":[]},{"id":"a27e5815.85d188","type":"debug","z":"2256082.ba521f8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"last_ct_motor_msg.length","targetType":"msg","x":850,"y":560,"wires":[]},{"id":"14bdbfe0.3a34d","type":"mqtt in","z":"878d3cd5.e63b4","name":"kepserver - \"CT_SENSOR\"","topic":"CT_AUTO","qos":"0","datatype":"json","broker":"df061a1c.bc3198","x":130,"y":420,"wires":[["fe2a89d8.5980f8"]]},{"id":"fe2a89d8.5980f8","type":"jquerify","z":"878d3cd5.e63b4","name":"Parsing param","func":"date = new Date(msg.payload.timestamp)\ntimestamp = date.getFullYear() + '-' +\n    ('00' + (date.getMonth()+1)).slice(-2) + '-' +\n    ('00' + date.getDate()).slice(-2) + ' ' + \n    ('00' + date.getHours()).slice(-2) + ':' + \n    ('00' + date.getMinutes()).slice(-2) + ':' + \n    ('00' + date.getSeconds()).slice(-2);\nvar tag = {}\n$(msg.payload.values).each(function( i, val ) {\n    if(val.id.split(\".\")[2] == \"CT_AUTO\"){\n        tag[val.id.split(\".\")[3]] = val.v\n    //   tag[val.id.split(\".\")[2]][val.id.split(\".\")[3]] = val.v\n    }\n});\nmsg.timestamp = timestamp\nmsg.tag = tag\nmsg.keytag = Object.keys(msg.tag)\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":460,"wires":[["7bfcda91.a80ac4","8f5b8c4.97a277"]]},{"id":"ee11e209.1f311","type":"websocket out","z":"878d3cd5.e63b4","name":"","server":"114d2589.db8f6a","client":"","x":160,"y":540,"wires":[]},{"id":"7bfcda91.a80ac4","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":420,"wires":[]},{"id":"8f5b8c4.97a277","type":"jquerify","z":"878d3cd5.e63b4","name":"Parsing topic","func":"msg.payload = msg.tag\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":500,"wires":[["ee11e209.1f311","68ca6131.6ea67"]]},{"id":"68ca6131.6ea67","type":"debug","z":"878d3cd5.e63b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":500,"wires":[]}]